body {
    cursor: url('/custom/assets/mouse_a_zip.webp'), auto;
}

.hide-block>.hide-button.open,
.hide-inline>.hide-button.open {
    display: block
}

a,
button,
img {
    cursor: url('/custom/assets/mouse_b_zip.webp'), auto
}


